<p id="notice"><%= notice %></p>

<h1> All Books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year Published</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr onclick="location.href='<%= book_path(book) %>'"> 
        <th><%= book.title %></th>
        <td><%= book.author.full_name %></td>
        <td><%= book.publish_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
