
<h4><%= @book.title %></h4>

<ul>
  <li><strong>Author: </strong><%= link_to @book.author.full_name, @book.author %></li>
  <li><strong>Publisher: </strong><%= @book.publisher %></li>
  <li><strong>City of Publisher Headquarters: </strong><%= @book.publisher_city %></li>
  <li><strong>Year Published: </strong><%= @book.publish_year %></li>
</ul>

<% if current_author == @book.author %>
	<%= link_to 'Edit', edit_book_path(@book) %> | 
	<%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: "Are you sure?"} %> | 
<% end %>
<%= link_to 'Back', url_for(:back) %>
