<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1>Rails Bookshelf</h1></header>
    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>&copy; Brad DA Watson 2019</footer>
  </body>
</html>
